/*==========================================================
Default Styles
===========================================================*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
font-size: $font-size-ratio;
box-sizing: border-box;
}

body {

font-weight: normal;
font-family: $font-family-primary;
@include fz();
line-height: 1.4;
color: $color-font;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga", "kern";
text-rendering: optimizelegibility;
background-color: $color-bg;
word-wrap: break-word;
overflow: hidden;
@include bp(lg) {
  @include rem("padding-left", 20);
  @include rem("padding-right", 20);
}
@include bp() {
  @include rem("padding-left", 20);
  @include rem("padding-right", 20);
}
@include bp(sm) {
  @include rem("padding-left", 20);
  @include rem("padding-right", 20);
}
}


/*==========================================================
Headings
===========================================================*/

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}

.h1 {@include fz($font-size-computed * 2.5);}
.h2 {@include fz($font-size-computed * 2);}
.h3 {@include fz($font-size-computed * 1.75);}
.h4 {@include fz($font-size-computed * 1.5);}
.h5 {@include fz($font-size-computed * 1.25);}
.h6 {@include fz();}
p {@include fz();}

/*==========================================================
Link
===========================================================*/

a {
color: $color-link;
text-decoration: none;

  &:link {
  }

  &:hover {
    color: $color-link-hover;
  }

  &:focus {
    outline: none;
  }
}

/*==========================================================
List
===========================================================*/
ul, ol {
list-style: none;
}

li > ul,
li > ol {
margin-bottom: 0;
margin-left: 1.5rem;
}

dt {
font-weight: bold;
}

/*==========================================================
Images
===========================================================*/

figure {

}
img {
width: 100%;
height: auto;
}

/*------------------------------------
Highlight Color
------------------------------------*/
::-moz-selection {
color: $color-set-font;
background-color: $color-set-higlight;
}
::selection {
color: $color-set-font;
background-color: $color-set-higlight;
}
:placeholder-shown {
//border: 1px solid silver;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//color: $g-theme-color-01;
}
::-moz-placeholder { /* Firefox 19+ */
//color: $g-theme-color-01;
}
:-ms-input-placeholder { /* IE 10+ */
//color: $g-theme-color-01;
}
:-moz-placeholder { /* Firefox 18- */
//color: $g-theme-color-01;
}